#header header {
  background-color: #2196f3;
}
.menu {
  width: 100%;
}
#header a {
  color: white;
}
.logo {
  margin-right: 50%;
  width: 30%;
}
.menu-items {
  display: inline;
  padding: 0 5%;
}
.login {
  float: right;
}
#posts {
  float: left;
}
a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

.formpaper {
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding: 2%;
}

.formcontent {
  padding: 5%;
  padding-bottom: 5%;
}

.avatarIcon {
  margin: auto;
}

.formHeading {
  margin: 2%;
  text-align: center;
}
.formSubmit {
  margin-top: 3% !important;
}
.loader {
  margin: 12% 45%;
}
.userForm {
  margin-top: 10%;
}
.editpaper {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  width: 70%;
}
.firstNameField {
  float: left;
  width: 49%;
}
.secondNameField {
  float: right;
  width: 49%;
}
.content {
  width: 80%;
  margin: 5% auto;
}
.post div {
  height: 100px;
  text-align: center
}
.comment-header {
  height: 25px;
}
.comment-content {
  border: 1px solid #00000059;
}
.comment-text{
  padding: 1%;
  font-size: 1.35em;
}
.comment-actions button {
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  line-height: 1
}
.reply-input {
  margin-left: 10%;
}
.single-comment {
  margin: 0.5% 0;
}
/* .child-comment {
  margin: 0.5% 0 0 10% 
} */